* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1080px;
}

.navbar {
  background-color: salmon;
  height: 5%;
  margin-bottom: 0;
  align-items: center;
}

.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.inner-middle {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.middle-image {
  position: absolute; /* Mengatur posisi absolut */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Memperbesar gambar untuk memenuhi seluruh div */
  z-index: -1;
}

h1 {
  color: #123620;
  font-family: Poppins;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-top: 5%;
  text-align: center;
}

.top-footer {
  background-color: #123620;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-bottom: 4%;
}

.bottom-footer {
  background-color: #1a4d2e;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-footer-leftdescription {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  flex-grow: 1;
}

.top-footer-rightdescription {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 1.5%;
  padding-left: 25%;
  padding-right: 5%;
  color: #fff;
  font-family: Poppins;
}
h3 {
  padding-bottom: 5%;
  font-size: 25px;
}
.footer-address,
.footer-contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  align-items: center;
}

.footer-address p,
.footer-contact p {
  margin-left: 8%;
}
.footer-address img,
.footer-contact img {
  width: auto;
  height: 25px;
}

.top-footer-leftdescription p {
  color: #fff;
  text-align: justify;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-left: 5%;
  padding-right: 45%;
  padding-top: 1.5%;
}

h2 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-left: 5%;
  padding-top: 4.5%;
}

.map-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40%;
}
.btn-map,
.btn-table {
  border: none;
  border-radius: 10px;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  transition: transform 0.3s ease;
}

.btn-map:hover,
.btn-table:hover {
  transform: scale(1.1);
}

.bottom-footer-leftdescription {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding-top: 1.6%;
  padding-left: 2.5%;
}

.bottom-footer-rightdescription {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 12%;
  margin-right: 12%;
}

.btn-ig,
.btn-fb,
.btn-x,
.btn-yt {
  background-color: transparent;
  border: none;
  height: 90%;
  padding-top: 4%;
  cursor: pointer;
}
.btn-ig img,
.btn-fb img,
.btn-x img,
.btn-yt img {
  width: 100%;
  height: 100%;
}

.btn-ig:hover,
.btn-fb:hover,
.btn-x:hover,
.btn-yt:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.navbar {
  background-color: #ece4d3;
  display: flex;
  justify-content: center;
}

.navbar-container {
  border-radius: 999px;
  border: 1px solid var(--Color-Pallet-Secondary---Offwhite-S300, #e8dfca);
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: black;
  padding: 0px 50px;
}
.navbar-container .left-section {
  flex: 1;
  margin-right: 40px;
}

.navbar-container .center-section {
  flex: 4;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.navbar-container .right-section {
  flex: 1;
  text-align: right;
}

.logo {
  font-size: 24px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin: 0 15px;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
}

.welcome-text {
  font-size: 18px;
}
